@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0F172A;
    font-family: "Poppins", sans-serif;
}

/* header */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background-color: #020617;
    padding: 16px 120px;
}

.logo img{
    width: 70px;
    border-radius: 50%;
}

.links ul {
    display: flex;
    gap: 90px;
}

.links ul li {
    list-style: none;
}

.links ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: #CBD5E1;
}

.resumeBtn button{
    height: 40px;
    padding-inline: 30px;
    border-radius: 10px;
    background-color: #38BDF8;
    color: #020617;
}

.resumeBtn button:hover{
    cursor: pointer;
    background-color: gray;
    color: white;
}

/* Hero-Section */

.hero-section{
    height: 700px;
    display: flex;
    justify-content: space-between;
    padding-inline : 120px;
    margin-top: 20px;
    align-items: center;
}

.heading-part{
    display: flex;
    align-items: end;
    gap: 10px;
    margin-bottom: 10px;
}

.heading-part h3{
    font-size: 25px;
    color: #94A3B8;
}

.heading-part h1{
    font-size: 4rem;
    color:cyan;
}

.info p {
    font-size: 18px;
    color: #CBD5E1;
    line-height: 28px;
}

.buttons-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}

.buttons-container button{
    height: 52px;
    border-radius: 14px;
}

.viewBtn{
    background-color: #38BDF8;
    padding-inline : 10px;
}

.viewBtn:hover{
    cursor: pointer;
    background-color: transparent;
    color: #38BDF8;
}

.contactBtn{
    padding-inline : 15px;
    background-color: transparent;
    color: #38BDF8;
}

.contactBtn:hover{
    cursor: pointer;
    background-color: #38BDF8;
    color: black;
}

.right-image img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

/* About Section */

.about-section{
  padding-inline: 120px;
  height: 700px;
  margin-top: 20px;
}

.heading{
    text-align: center;
    margin-bottom: 50px;
}

.heading h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}

.heading p{
    font-size: 16px;
    color: #94A3B8;
}

.about-me{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about-me-image img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}


.about-me-content-heading{
    color: #94A3B8;
    margin-bottom: 5px;
}

.about-me-content h3{
    color: #CBD5E1;
    margin-bottom: 15px;
}

.para{
    width: 680px;
}

.para p{
    margin-bottom: 10px;
    color: #94A3B8;
}

.about-me-content button{
    margin-block: 10px;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #38BDF8;
}


.about-me-content button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #38BDF8;
}

.about-me-content a{
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: #CBD5E1;
}

.about-me-content ul{
    margin-top: 10px;
    display: flex;
    gap: 30px;
}

.about-me-content li {
    list-style: none;
}

.about-me-content li a{
    margin-top: 5px;
    font-size: 1.5rem;
}