 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #0F172A;
    font-family: "Poppins", sans-serif;
}

section{
    scroll-margin-top: 90px;
}

p{
    font-size: 16px;
    color: #CBD5E1;
    line-height: 28px;
}

/* < --------------- Header -------------> */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background: rgba(2, 6, 23, 0.9);
    backdrop-filter: blur(10px);
    padding: 16px 120px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.logo img{
    width: 70px;
    border-radius: 50%;
}

.links ul {
    display: flex;
    gap: 90px;
}

.links ul li {
    list-style: none;
}

.links ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: #CBD5E1;
    position: relative;
}

.links ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: #38BDF8;
    transition: 0.3s;
}

.links ul li a:hover::after{
    width: 100%;
}

.resumeBtn button{
    height: 40px;
    padding-inline: 30px;
    border-radius: 10px;
    background-color: #38BDF8;
    color: #020617;
    font-weight: 500;
    transition: 0.3s;
}

.resumeBtn button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #38BDF8;
    color: #38BDF8;
}

/* < --------------- Hero -------------> */

.hero-section{
    height: 700px;
    display: flex;
    justify-content: space-between;
    padding-inline : 120px;
    padding-top: 100px;
    margin-top: 20px;
    align-items: center;
}

.heading-part{
    display: flex;
    align-items: end;
    gap: 10px;
    margin-bottom: 10px;
}

.heading-part h3{
    font-size: 25px;
    color: #94A3B8;
}

.heading-part h1{
    font-size: 4rem;
    color:cyan;
}

.buttons-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}

.buttons-container button{
    height: 52px;
    border-radius: 14px;
    font-weight: 500;
    transition: 0.3s ease;
}

.viewBtn{
    background-color: #38BDF8;
    padding-inline : 10px;
}

.viewBtn:hover{
    cursor: pointer;
    background-color: transparent;
    color: #38BDF8;
}

.contactBtn{
    padding-inline : 15px;
    background-color: transparent;
    color: #38BDF8;
}

.contactBtn:hover{
    cursor: pointer;
    background-color: #38BDF8;
    color: black;
}

.right-image img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.right-image img,
.about-me-image img{
    transition: 0.4s ease;
}

.right-image img:hover,
.about-me-image img:hover{
    cursor: pointer;
    transform: scale(1.05);
}


/* < --------------- About -------------> */
.about-section{
  padding-inline: 120px;
  height: 700px;
  margin-top: 50px;
}

.heading{
    margin-bottom: 50px;
}

.heading h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}

.about-me{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about-me-image img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.about-me-content-heading{
    color: #94A3B8;
    margin-bottom: 5px;
}

.about-me-content h3{
    color: #CBD5E1;
    margin-bottom: 15px;
}

.para{
    width: 680px;
}

.para p{
    margin-bottom: 12px;
}

.about-me-content button{
    margin-block: 10px;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #38BDF8;
}


.about-me-content button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #38BDF8;
}

.about-me-content a{
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: #CBD5E1;
}

.about-me-content ul{
    margin-top: 10px;
    display: flex;
    gap: 30px;
}

.about-me-content li {
    list-style: none;
}

.about-me-content li a{
    margin-top: 5px;
    font-size: 1.5rem;
    transition: 0.3s;
}

.about-me-content li a:hover{
    color: #38BDF8;
    transform: translateY(-3px);
}


/* < --------------- Skills -------------> */
.skills-section{
    padding-inline: 120px;
    height: 700px;
    margin-top: 70px;
}

.skills-heading h2{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 30px;
}

.skills-card-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.skills-card{
    display: flex;
    flex-direction: column;
    padding: 10px 35px 35px 35px;
    width: 45%;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.7);
    transition: all 0.3s ease;
    background: #020617;
    border: 1px solid rgba(255,255,255,0.03);
}

.skills-card:hover{
    cursor:pointer;
    transform: translateY(-10px);
    box-shadow: 0 20px 60px rgba(56,189,248,0.2);
}

.card-top{
    display: flex;
    justify-content: center;
    color: white;
    gap: 20px;
    padding-block: 5px;
    font-size: 20px;    
}

.card-top i{
    color: cyan;
}

.tools i{
    color: yellow;
}

.skills-card ul{
    display: flex;
    flex-direction: column;
}

.skills-card ul li{
    list-style: none;
    color: #CBD5E1;
    margin-top: 20px;
    font-size: 18px;
} 

.skills-card ul li i{
    margin-right: 10px;
}

.skills-animation{
    margin-top: 60px;
    display: flex;
    overflow: hidden;
}

.skills-animation img{
    height: 150px;
    width: 170px;
}

/* < --------------- Services -------------> */
.service-section{
    padding-inline: 120px;
    height: 700px;
    margin-top: 70px;
}

.service-heading h2{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}

.service-section i{
    font-size: 2rem;
    color:  #38BDF8;
}

.services-card-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 30px;
    margin-top: 30px;
}

.services-cards{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.7);
    transition: all 0.3s ease;
    background: #020617;
    border: 1px solid rgba(255,255,255,0.03);
}

.services-cards:hover{
    cursor:pointer;
    transform: translateY(-10px);
    box-shadow: 0 20px 60px rgba(56,189,248,0.2);
}

.outer-services-icon{
    background: linear-gradient(135deg, #38BDF8, #0EA5E9, #1E3A8A);
    box-shadow: 0 0 60px rgba(56,189,248,0.8);
    border-radius: 50%;
    padding: 6px;
}

.services-icon{
    background-color: #020617;
    padding: 30px;
    border-radius: 50%;
}

.services-icon i{
    font-size: 2.8rem;
}

.services-content {
    width: 60%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.services-content h3{
    font-size: 1.7rem;
    color: #ffffff;
}