@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a;
  font-family: "Poppins", sans-serif;
}

section {
  scroll-margin-top: 90px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
}

p {
  font-size: 16px;
  color: #cbd5e1;
  line-height: 28px;
}

/* < --------------- Header -------------> */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

/* nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background: rgba(2, 6, 23, 0.9);
    backdrop-filter: blur(10px);
    padding: 16px 120px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background: rgba(2, 6, 23, 0.9);
  backdrop-filter: blur(10px);
  padding: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.logo img {
  width: 70px;
  border-radius: 50%;
  margin-top: 8px;
}

.links {
  display: none;
}

.links ul {
  display: flex;
  gap: 90px;
}

.links ul li {
  list-style: none;
}

.links ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #cbd5e1;
  position: relative;
}

.links ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: #38bdf8;
  transition: 0.3s;
}

.links ul li a:hover::after {
  width: 100%;
}

.resumeBtn button {
  height: 40px;
  padding-inline: 30px;
  border-radius: 10px;
  background-color: #38bdf8;
  color: #020617;
  font-weight: 500;
  transition: 0.3s;
}

.resumeBtn button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

/* < --------------- Hero -------------> */

/* .hero-section{
    min-height: 700px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-inline : 120px;
    padding-top: 100px;
    margin-top: 20px;
    align-items: center;
} */

.hero-section {
  min-height: 700px;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  padding-top: 50px;
  align-items: center;
}

/* .heading-part{
    display: flex;
    align-items: end;
    gap: 10px;
    margin-bottom: 10px;
} */

.heading-part {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.heading-part h3 {
  font-size: 25px;
  color: #94a3b8;
}

/* .heading-part h1{
    font-size: 4rem;
    color:cyan;
} */

.heading-part h1 {
  font-size: 3rem;
  color: cyan;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
}

.buttons-container button {
  height: 52px;
  border-radius: 14px;
  font-weight: 500;
  transition: 0.3s ease;
}

.viewBtn {
  background-color: #38bdf8;
  padding-inline: 10px;
}

.viewBtn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #38bdf8;
}

.contactBtn {
  padding-inline: 15px;
  background-color: transparent;
  color: #38bdf8;
}

.contactBtn:hover {
  cursor: pointer;
  background-color: #38bdf8;
  color: black;
}

/* .right-image img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
} */

.right-image img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

/* < --------------- About -------------> */
/* .about-section{
  padding-inline: 120px;
  height: 700px;
  margin-top: 50px;
} */

.about-section {
  padding: 10px;
  min-height: 700px;
  height: auto;
  margin-top: 50px;
  text-align: center;
}

.heading {
  margin-bottom: 50px;
}

/* .about-me{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
} */

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* .about-me-content-heading{
    color: #94A3B8;
    margin-bottom: 5px;
} */

.about-me-content-heading {
  color: #94a3b8;
  margin-top: 10px;
}

.about-me-content h3 {
  color: #cbd5e1;
  margin-bottom: 15px;
}

/* .para{
    width: 680px;
} */

.para p {
  margin-bottom: 12px;
}

.about-me-content button {
  margin-block: 10px;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #38bdf8;
}

.about-me-content button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #38bdf8;
}

.about-me-content a {
  margin-top: 10px;
  display: block;
  text-decoration: none;
  color: #cbd5e1;
}

/* .about-me-content ul{
    margin-top: 10px;
    display: flex;
    gap: 30px;
} */

.about-me-content ul {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.about-me-content li {
  list-style: none;
}

.about-me-content li a {
  margin-top: 5px;
  font-size: 1.5rem;
  transition: 0.3s;
}

.about-me-content li a:hover {
  color: #38bdf8;
  transform: translateY(-3px);
}

/* < --------------- Skills -------------> */
/* .skills-section{
    padding-inline: 120px;
    height: 700px;
    margin-top: 70px;
} */

.skills-section {
  padding-inline: 10px;
  min-height: 700px;
  height: auto;
  /* margin-top: 70px; */
  text-align: center;
}

/* .skills-card-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px
} */

.skills-card-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* .skills-card{
    display: flex;
    flex-direction: column;
    padding: 10px 35px 35px 35px;
    width: 45%;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.7);
    transition: all 0.3s ease;
    background: #020617;
    border: 1px solid rgba(255,255,255,0.03);
} */

.skills-card {
  display: flex;
  flex-direction: column;
  padding: 10px 35px 35px 35px;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
  transition: all 0.3s linear;
  background: #020617;
  border: 1px solid rgba(255, 255, 255, 0.03);
}

.skills-card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 20px 60px rgba(56, 189, 248, 0.2);
}

.card-top {
  display: flex;
  justify-content: center;
  color: white;
  gap: 20px;
  padding-block: 5px;
  font-size: 20px;
}

.card-top i {
  color: cyan;
}

.tools i {
  color: yellow;
}

.skills-card ul {
  display: flex;
  flex-direction: column;
}

.skills-card ul li {
  list-style: none;
  color: #cbd5e1;
  margin-top: 20px;
  font-size: 18px;
}

.skills-card ul li i {
  margin-right: 10px;
}

.skills-animation-container {
  margin-top: 100px;
  display: flex;
  overflow-x: auto;
}

.skills-animation-container::-webkit-scrollbar {
  display: none;
}

.skills-animation {
  display: flex;
  gap: 1em;
  animation: slide 10s infinite ease;
  padding-right: 1em;
}

.java {
  visibility: hidden;
}

.skills-animation img {
  flex: 0 0 2em;
  height: 120px;
  width: 170px;
}

/* .skills-animation img{
    flex: 0 0 5em;
    height: 120px;
    width: 170px;
} */

/* < --------------- Services -------------> */
/* .service-section{
    padding-inline: 120px;
    height: 700px;
    margin-top: 70px;
} */

.service-section {
  padding-inline: 10px;
  min-height: 700px;
  height: auto;
  /* margin-top: 70px; */
  text-align: center;
}

.service-section i {
  font-size: 2rem;
  color: #38bdf8;
}

/* .services-card-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 30px;
    margin-top: 30px;
} */

.services-card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.services-cards {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  background: #020617;
  border: 1px solid rgba(255, 255, 255, 0.03);
}

.services-cards:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 20px 60px rgba(56, 189, 248, 0.2);
}

.outer-services-icon {
  background: linear-gradient(135deg, #38bdf8, #0ea5e9, #1e3a8a);
  box-shadow: 0 0 60px rgba(56, 189, 248, 0.8);
  border-radius: 50%;
  padding: 6px;
}

.services-icon {
  background-color: #020617;
  padding: 30px;
  border-radius: 50%;
}

.services-icon i {
  font-size: 2.8rem;
}

.services-content {
  width: 60%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.services-content h3 {
  font-size: 1.7rem;
  color: #ffffff;
}

/* < --------------- Projects -------------> */

/* .project-section{
    padding-inline: 120px;
    height: 700px;
    margin-top: 70px;
} */

.project-section {
  padding-inline: 10px;
  min-height: 700px;
  height: auto;
  /* margin-top: 70px; */
}

.projects-heading {
  text-align: center;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* .project-cards{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.7);
    transition: all 0.3s ease;
    background: #020617;
    border: 1px solid rgba(255,255,255,0.03);
    padding: 20px 40px;
    margin-top: 30px;
} */

.project-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  background: #020617;
  border: 1px solid rgba(255, 255, 255, 0.03);
  padding: 20px 40px;
  margin-top: 30px;
}

.project-cards:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 20px 60px rgba(56, 189, 248, 0.2);
}

.project-cards i {
  font-size: 2.8rem;
  color: rgba(56, 189, 248);
}

.project-cards h3 {
  font-size: 1.7rem;
  color: #ffffff;
}

.project-cards img {
  margin-top: 10px;
  height: 150px;
  width: 100%;
}

.project-cards button {
  background: #38bdf8;
  color: white;
  padding: 15px 25px;
  border-radius: 25px;
  margin-top: 10px;
}

.project-cards button:hover {
  cursor: pointer;
  background: transparent;
}

/* < --------------- Contact -------------> */

/* .contact-section{
    padding-inline: 120px;
    height: 700px;
    margin-top: 70px;
} */

.contact-section {
  padding-inline: 10px;
  min-height: 700px;
  height: auto;
  /* margin-top: 70px; */
  text-align: center;
}

/* .contact-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
} */

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 50px;
}

.contact-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

/* .contact-info div{
    display: flex;
    gap: 20px;
} */

.contact-info div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info div i {
  margin-top: 15px;
  color: #38bdf8;
  font-size: 1.5rem;
}

.contact-info span {
  margin-bottom: 40px;
}

.contact-info span h3 {
  color: #ffffff;
}

/* .contact-form form{
    display: flex;
    gap: 30px;
    flex-direction: column;
} */

.contact-form form {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.contact-form input,
textarea {
  border-radius: 15px;
  padding: 20px;
  border: none;
  outline: none;
}

.upper-input input {
  width: 49%;
}

.contact-form button {
  width: 50%;
  padding: 15px 30px;
  border-radius: 15px;
  background: #38bdf8;
  color: white;
  font-size: 1rem;
  display: flex;
  margin-left: 120px;
  justify-content: center;
}

.contact-form button:hover {
  cursor: pointer;
  background: transparent;
}

.contact-form button span {
  font-size: 1.3rem;
  color: white;
  margin-left: 5px;
}

/* < --------------- Footer -------------> */

/* footer {
    width: 100%;
    background-color: #020617;
    padding: 10px;
    text-align: center;
} */

footer {
  width: 100%;
  background-color: #020617;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

/* animations */
@keyframes slide {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}

/* media querries */
@media (min-width: 576px) {
  section {
    scroll-margin-top: 50px;
  }

  nav {
    padding: 16px;
    height: 60px;
  }

  .links {
    display: flex;
  }

  .links ul {
    gap: 20px;
  }

  .hero-section {
    padding-inline: 50px;
  }

  .heading-part h1 {
    font-size: 3.2rem;
  }

  .right-image img {
    height: 350px;
    width: 350px;
  }

  .about-section {
    padding-inline: 50px;
  }

  .about-me-image img {
    width: 350px;
    height: 350px;
  }

  .skills-section {
    padding-inline: 50px;
  }

  .skills-card {
    width: 45%;
  }

  .service-section {
    padding-inline: 50px;
  }

  .project-section {
    padding-inline: 50px;
  }

  .contact-section {
    padding-inline: 50px;
  }

  .contact-form button {
    margin-left: 180px;
  }
}

@media (min-width: 768px) {
  nav {
    padding: 10px 30px;
  }

  .links ul {
    gap: 60px;
  }

  .hero-section {
    padding-inline: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .heading-part h1 {
    font-size: 3.5rem;
  }

  .right-image img {
    height: 370px;
    width: 370px;
  }

  .about-section {
    padding-inline: 80px;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
  }

  .about-me-image img {
    width: 380px;
    height: 380px;
  }

  .para2 {
    display: none;
  }

  .skills-section {
    padding-inline: 80px;
  }

  .skills-card {
    width: 45%;
  }

  .service-section {
    padding-inline: 80px;
  }

  .project-section {
    padding-inline: 80px;
  }

  .contact-section {
    padding-inline: 80px;
  }

  .contact-form button {
    margin-left: 200px;
  }
}

@media (min-width: 992px) {
  section {
    scroll-margin-top: 50px;
  }

  nav {
    padding: 10px 60px;
  }

  .hero-section {
    padding-inline: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .right-image img {
    height: 400px;
    width: 400px;
  }

  .about-section {
    padding-inline: 120px;
  }

  .about-me {
    gap: 20px;
  }

  .about-me-image img {
    width: 400px;
    height: 400px;
  }

  .para2 {
    display: flex;
  }

  .skills-section {
    padding-inline: 120px;
    margin-top: 70px;
  }

  .skills-card {
    width: 30%;
  }

  .service-section {
    padding-inline: 120px;
    margin-top: 70px;
  }

  .services-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .services-cards {
    padding-inline: 10px;
  }

  .services-icon i {
    font-size: 2rem;
  }

  .project-section {
    padding-inline: 120px;
    margin-top: 70px;
  }

  .contact-section {
    padding-inline: 120px;
    margin-top: 70px;
  }

  .contact-form button {
    margin-left: 250px;
  }
}

@media (min-width : 1200px){
  nav {
    padding: 16px 120px;
  }

  .heading-part h1 {
    font-size: 4rem;
  }

  .skills-card {
    width: 31%;
  }

  .project-cards{
    width: 30%;
  }

  .contact-container{
    flex-direction: row;
  }

  .contact-info{
    flex-direction: column;
    gap: 0;
  }

  .contact-form button {
    margin-left: 0;
  }
}
